  <li>
    <span class="comment">
      <%= reply.comment %>
    </span>
    <span class="" >
      |
    </span>
    <span class="post-date" >
    投稿日時:<%= reply.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
    </span>
  </li>
